In [2]:
import pandas as pd
import numpy as np
import plotly
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv('data_joined.csv')

print(data.shape)

data.head()

(184, 668)

,name,region,subregion,name_object,country,1800,1801,1802,1803,1804,...,fert_2011,fert_2012,fert_2013,fert_2014,fert_2015,fert_2016,fert_2017,fert_2018,fert_2019,fert_2020
0,Afghanistan,Asia,Southern Asia,"{'common': 'Afghanistan', 'official': 'Islamic...",Afghanistan,3280000,3280000,3280000,3280000,3280000,...,5.60,5.38,5.17,4.98,4.80,4.64,4.48,4.33,4.18,4.04
1,Albania,Europe,Southern Europe,"{'common': 'Albania', 'official': 'Republic of...",Albania,400000,402000,404000,405000,407000,...,1.67,1.69,1.70,1.71,1.71,1.71,1.71,1.71,1.70,1.70
2,Algeria,Africa,Northern Africa,"{'common': 'Algeria', 'official': ""People's De...",Algeria,2500000,2510000,2520000,2530000,2540000,...,2.93,2.94,2.92,2.89,2.84,2.78,2.71,2.64,2.59,2.54
3,Angola,Africa,Middle Africa,"{'common': 'Angola', 'official': 'Republic of ...",Angola,1570000,1570000,1570000,1570000,1570000,...,6.08,6.00,5.92,5.84,5.77,5.69,5.62,5.55,5.48,5.41
4,Antigua and Barbuda,Americas,Caribbean,"{'common': 'Antigua and Barbuda', 'official': ...",Antigua and Barbuda,37000,37000,37000,37000,37000,...,2.12,2.10,2.09,2.08,2.06,2.05,2.04,2.03,2.02,2.01