In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
pop = pd.read_csv("population_total.csv")
fert = pd.read_csv("children_per_woman_total_fertility.csv")
countries = pd.read_json("countries.json", orient='records')[['name', 'region', 'subregion']]

In [3]:
# cut off all the columns after 2020
pop = pop.loc[:, :'2020']
fert = fert.loc[:, :'2020']

print(pop.shape)
print(fert.shape)

(195, 222)
(184, 222)

In [4]:
# percent of world population column
for col in pop.columns:
    if col != 'country':
        pop[f'{col}_percent_of_world_pop'] = [pop.loc[x, col] / sum(pop[col]) for x in pop.index]
        
        
pop.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2011_percent_of_world_pop,2012_percent_of_world_pop,2013_percent_of_world_pop,2014_percent_of_world_pop,2015_percent_of_world_pop,2016_percent_of_world_pop,2017_percent_of_world_pop,2018_percent_of_world_pop,2019_percent_of_world_pop,2020_percent_of_world_pop
0,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,0.004296,0.004404,0.004506,0.004600,0.004685,0.004773,0.004833,0.004901,0.004952,0.005015
1,Albania,400000,402000,404000,405000,407000,409000,411000,413000,414000,...,0.000418,0.000411,0.000405,0.000399,0.000394,0.000390,0.000383,0.000379,0.000375,0.000371
2,Algeria,2500000,2510000,2520000,2530000,2540000,2550000,2560000,2560000,2570000,...,0.005239,0.005279,0.005315,0.005357,0.005407,0.005474,0.005513,0.005560,0.005616,0.005660
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,0.000012,0.000012,0.000011,0.000011,0.000011,0.000010,0.000010,0.000010,0.000010,0.000010
4,Angola,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,...,0.003454,0.003543,0.003627,0.003704,0.003800,0.003883,0.003968,0.004058,0.004144,0.004242

In [5]:
fert.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,5.60,5.38,5.17,4.98,4.80,4.64,4.48,4.33,4.18,4.04
1,Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.67,1.69,1.70,1.71,1.71,1.71,1.71,1.71,1.70,1.70
2,Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.93,2.94,2.92,2.89,2.84,2.78,2.71,2.64,2.59,2.54
3,Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,...,6.08,6.00,5.92,5.84,5.77,5.69,5.62,5.55,5.48,5.41
4,Antigua and Barbuda,5.00,5.00,4.99,4.99,4.99,4.98,4.98,4.97,4.97,...,2.12,2.10,2.09,2.08,2.06,2.05,2.04,2.03,2.02,2.01

In [6]:
fert['2020']

0      4.04
1      1.70
2      2.54
3      5.41
4      2.01
       ...
179    2.23
180    1.94
181    3.61
182    4.76
183    3.47
Name: 2020, Length: 184, dtype: float64

In [7]:
countries

,name,region,subregion
0,"{'common': 'Aruba', 'official': 'Aruba', 'nati...",Americas,Caribbean
1,"{'common': 'Afghanistan', 'official': 'Islamic...",Asia,Southern Asia
2,"{'common': 'Angola', 'official': 'Republic of ...",Africa,Middle Africa
3,"{'common': 'Anguilla', 'official': 'Anguilla',...",Americas,Caribbean
4,"{'common': 'Åland Islands', 'official': 'Åland...",Europe,Northern Europe
...,...,...,...
245,"{'common': 'Samoa', 'official': 'Independent S...",Oceania,Polynesia
246,"{'common': 'Yemen', 'official': 'Republic of Y...",Asia,Western Asia
247,"{'common': 'South Africa', 'official': 'Republ...",Africa,Southern Africa
248,"{'common': 'Zambia', 'official': 'Republic of ...",Africa,Eastern Africa
249,"{'common': 'Zimbabwe', 'official': 'Republic o...",Africa,Eastern Africa

In [12]:
countries['name_object'] = countries['name']
countries.head()

,name,region,subregion,name_object
0,"{'common': 'Aruba', 'official': 'Aruba', 'nati...",Americas,Caribbean,"{'common': 'Aruba', 'official': 'Aruba', 'nati..."
1,"{'common': 'Afghanistan', 'official': 'Islamic...",Asia,Southern Asia,"{'common': 'Afghanistan', 'official': 'Islamic..."
2,"{'common': 'Angola', 'official': 'Republic of ...",Africa,Middle Africa,"{'common': 'Angola', 'official': 'Republic of ..."
3,"{'common': 'Anguilla', 'official': 'Anguilla',...",Americas,Caribbean,"{'common': 'Anguilla', 'official': 'Anguilla',..."
4,"{'common': 'Åland Islands', 'official': 'Åland...",Europe,Northern Europe,"{'common': 'Åland Islands', 'official': 'Åland..."

In [13]:
names = []
for idx, row in countries.iterrows():
    name = row['name']['common']
    names.append(name)
    
countries['name'] = names
countries.head()

,name,region,subregion,name_object
0,Aruba,Americas,Caribbean,"{'common': 'Aruba', 'official': 'Aruba', 'nati..."
1,Afghanistan,Asia,Southern Asia,"{'common': 'Afghanistan', 'official': 'Islamic..."
2,Angola,Africa,Middle Africa,"{'common': 'Angola', 'official': 'Republic of ..."
3,Anguilla,Americas,Caribbean,"{'common': 'Anguilla', 'official': 'Anguilla',..."
4,Åland Islands,Europe,Northern Europe,"{'common': 'Åland Islands', 'official': 'Åland..."

In [14]:
len(countries)
len(pop)

195

In [18]:
country_population_merge = countries.merge(pop, left_on='name', right_on='country', how='right')

In [20]:
fert.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,5.60,5.38,5.17,4.98,4.80,4.64,4.48,4.33,4.18,4.04
1,Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.67,1.69,1.70,1.71,1.71,1.71,1.71,1.71,1.70,1.70
2,Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.93,2.94,2.92,2.89,2.84,2.78,2.71,2.64,2.59,2.54
3,Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,...,6.08,6.00,5.92,5.84,5.77,5.69,5.62,5.55,5.48,5.41
4,Antigua and Barbuda,5.00,5.00,4.99,4.99,4.99,4.98,4.98,4.97,4.97,...,2.12,2.10,2.09,2.08,2.06,2.05,2.04,2.03,2.02,2.01

In [24]:
fert = pd.read_csv("children_per_woman_total_fertility.csv")
fert = fert.loc[:, :'2020']
for col in fert.columns[1:]:
    fert[f'fert_{col}'] = fert[col]
    fert = fert.drop(col, axis=1)
    
fert.head()

,country,fert_1800,fert_1801,fert_1802,fert_1803,fert_1804,fert_1805,fert_1806,fert_1807,fert_1808,...,fert_2011,fert_2012,fert_2013,fert_2014,fert_2015,fert_2016,fert_2017,fert_2018,fert_2019,fert_2020
0,Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,5.60,5.38,5.17,4.98,4.80,4.64,4.48,4.33,4.18,4.04
1,Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.67,1.69,1.70,1.71,1.71,1.71,1.71,1.71,1.70,1.70
2,Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.93,2.94,2.92,2.89,2.84,2.78,2.71,2.64,2.59,2.54
3,Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,...,6.08,6.00,5.92,5.84,5.77,5.69,5.62,5.55,5.48,5.41
4,Antigua and Barbuda,5.00,5.00,4.99,4.99,4.99,4.98,4.98,4.97,4.97,...,2.12,2.10,2.09,2.08,2.06,2.05,2.04,2.03,2.02,2.01

In [25]:
country_population_merge.head() #.merge(fert, )

,name,region,subregion,name_object,country,1800,1801,1802,1803,1804,...,2011_percent_of_world_pop,2012_percent_of_world_pop,2013_percent_of_world_pop,2014_percent_of_world_pop,2015_percent_of_world_pop,2016_percent_of_world_pop,2017_percent_of_world_pop,2018_percent_of_world_pop,2019_percent_of_world_pop,2020_percent_of_world_pop
0,Afghanistan,Asia,Southern Asia,"{'common': 'Afghanistan', 'official': 'Islamic...",Afghanistan,3280000,3280000,3280000,3280000,3280000,...,0.004296,0.004404,0.004506,0.004600,0.004685,0.004773,0.004833,0.004901,0.004952,0.005015
1,Albania,Europe,Southern Europe,"{'common': 'Albania', 'official': 'Republic of...",Albania,400000,402000,404000,405000,407000,...,0.000418,0.000411,0.000405,0.000399,0.000394,0.000390,0.000383,0.000379,0.000375,0.000371
2,Algeria,Africa,Northern Africa,"{'common': 'Algeria', 'official': 'People's De...",Algeria,2500000,2510000,2520000,2530000,2540000,...,0.005239,0.005279,0.005315,0.005357,0.005407,0.005474,0.005513,0.005560,0.005616,0.005660
3,Andorra,Europe,Southern Europe,"{'common': 'Andorra', 'official': 'Principalit...",Andorra,2650,2650,2650,2650,2650,...,0.000012,0.000012,0.000011,0.000011,0.000011,0.000010,0.000010,0.000010,0.000010,0.000010
4,Angola,Africa,Middle Africa,"{'common': 'Angola', 'official': 'Republic of ...",Angola,1570000,1570000,1570000,1570000,1570000,...,0.003454,0.003543,0.003627,0.003704,0.003800,0.003883,0.003968,0.004058,0.004144,0.004242

In [26]:
print("country population shape:", country_population_merge.shape)
print("fertility shape:", fert.shape)

country population shape: (195, 447)
fertility shape: (184, 222)

In [28]:
merged = country_population_merge.merge(fert, how='right')

In [29]:
merged.shape

(184, 668)

In [32]:
merged.to_csv("data_joined.csv", index=False)